@import url(https://use.typekit.net/sky6lwg.css);

:root {
    --near-black: rgba(8, 2, 9, 1);
    --light-yellow: rgba(254, 236, 188, 1);
    --off-white: rgba(243, 243, 231, 1);
    --off-white-100: rgba(247, 247, 236, 1);
    --dark-green: rgba(56, 66, 57, 1);
    --dark-gray: rgba(35, 42, 36, 1);
    --light-gray: rgba(128, 128, 128, 1);
    --lighter-gray: rgb(209, 209, 209);
    --mustard: rgba(235, 168, 1, 1);

    --gradient-yellow-green: linear-gradient(var(--mustard), var(--dark-green));

    --padding-small: 12px;
    --padding-large: 30px;
    --padding-med: 24px;
    --padding-med-lar: 60px;
    --padding-xl: 120px;

    --gap-small: 16px;
    --gap-med: 30px;
    --gap-large: 60px;
    --gap-xl: 90px;

    --border-radius: 8px;
    --button-radius: 30px;

    --rhythm: 60px;

    --heading-font: 'Firula', 'Times New Roman', 'Serif';
    --body-font: 'Parabolica', 'Inter', 'sans-serif';
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--off-white);
    box-sizing: border-box;
}

h1 {
    font-size: 72px;
    font-family: var(--heading-font);
    font-weight: 500;
    margin: 0;
    line-height: 3rem;   
}

h2 {
    font-size: 56px;
    font-family: var(--heading-font);
    margin: 0;
    font-weight: 500;
    line-height: 4rem;
}

h3 {
    font-family: var(--heading-font);
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}

p, ul, li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--body-font);
    margin: 0;
    
}

button {
    font-size: 18px;
    font-family: var(--body-font);
    background-color: var(--mustard);
    padding: var(--padding-small) var(--padding-med);
    border-radius: var(--button-radius);
    border: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    font-weight: 400;
    width: fit-content;
    box-sizing: border-box;
    border: 1px solid transparent;
}

button:hover {
    background-color: var(--dark-green);
    color: var(--mustard);
    border: 1px solid inset var(--mustard);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

button:active {
    background-color: var(--dark-gray);
    color: var(--off-white);
    border: 1px solid var(--off-white);
    box-sizing: border-box;
}

img {
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    object-fit: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-med) var(--padding-large);
    background-color: var(--off-white);
    align-items: center;
    position: sticky;
}

footer > nav {
    background: transparent;
}

a {
    font-family: var(--body-font);
    color: var(--dark-green);
}

a:hover {
    color: var(--mustard);
    text-decoration: underline;
}

a:focus {
    color: var(--dark-gray);
}

a:active {
    color: var(--lighter-gray);
    text-decoration: underline;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 var(--padding-large);
    margin: 0;
    gap: 1.5rem;
}

nav > ul > li {
    display: flex;
    gap: 1rem;
    font-family: var(--body-font);
    font-size: 20px;
}

div {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    padding: 60px 30px 24px 30px;
    justify-content: space-between;
    align-items: end;
    background-color: var(--dark-green);
    width: 100%;
    height: auto;
    gap: var(--gap-large);
}

footer > nav > ul > li > a {
    color: var(--off-white);
    text-decoration: none;
}

footer > p {
    color: var(--off-white);
    width: auto;
}

footer > nav, ul {
    width: fit-content;
    padding: 0;
    justify-content: space-between;
}

a {
    color: var(--dark-green);
    text-decoration: none;
}

a:hover {
    color: var(--mustard);
    text-decoration: underline;
    cursor: pointer;
}

.anchor-button {
    font-size: 18px;
    font-family: var(--body-font);
    background-color: var(--mustard);
    padding: var(--padding-small) var(--padding-med);
    border-radius: var(--button-radius);
    border: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    font-weight: 400;
    width: fit-content;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.anchor-button:hover {
    background-color: var(--dark-green);
    color: var(--mustard);
    border: 1px solid var(--mustard);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.anchor-button:active {
    background-color: var(--dark-gray);
    color: var(--off-white);
    border: 1px solid var(--off-white);
    box-sizing: border-box;
}

.subheading {
    font-size: 24px;
    line-height: 1.5rem;
    font-family: var(--body-font);
    font-weight: 300;
    /* letter-spacing: -0.5px; */
    color: var(--dark-green);
}

.hero-text {
    font-size:96px;
    line-height: 6rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: var(--gap-med);
    /* border: 1px solid var(--dark-gray); */
    border-right: 0;
    border-left: 0;
    color: var(--off-white-100);
}

.hero-section > div {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    align-content: center;
    text-align: center;
    padding: var(--padding-xl);
    background-image: url(/images/cooking-hero.jpeg);
    background-size: cover; /* or contain, or auto */

}

.hero-section > div > div {
    gap: var(--gap-med);
    align-items: center;
}

.hero-section > div > img {
    width: 100%;
    height: auto;
}

.hero-section > div > div > .subheading {
    color: var(--off-white);
}

.section-carousel {
    display: flex;
    flex-direction: column;
    gap: var(--gap-med);
    padding: var(--padding-med-lar) var(--padding-large);
    overflow: hidden;
    height: auto;
    width: 100%;
}

.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    align-self: stretch;
}

.section-header > div {
    gap: 12px;
}

.div-carousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: var(--gap-med);
    height: auto;
    width: 100%;
    padding-bottom: 8px;
}

.div-carousel::-webkit-scrollbar-track {
    background: transparent;
}

.recipe-card {
    padding: var(--padding-small);
    background-color: var(--off-white-100);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--gap-med);
    border: 1px solid var(--light-gray);
    width: 400px;
    height: auto;
    flex: 0 0 auto;
}

/* carousel not working right issue with the overflow property */

.recipe-card:hover {
    border: 1px solid var(--dark-green);
    background-color: var(--off-white);
    border: 2px dashed;
    box-sizing: border-box;
}

.image-and-recipe-title {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    background-color: transparent;
}

.recipe-card-title {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.recipe-name {
    background-color: transparent;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.recipe-second-line {
    background-color: transparent;
    color: var(--light-gray);
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

.tags-line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;
}

.recipe-tag {
    background-color: transparent;
    padding: 4px 8px;
    border: 1px solid var(--dark-green);
    border-radius: var(--button-radius);
}

.recipe-tag > p {
    background-color: transparent;
    color: var(--dark-green);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.display-h2 {
    font-size: 64px;
    width: 100%;
    height: auto;
    line-height: 4.5rem;
}

.second-hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-large);
    padding: var(--padding-med-lar) var(--padding-large);
    border: 1px solid var(--dark-green);
    border-left: 0;
    border-right: 0;
}

.second-hero-section > div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-med);
    width: 50vw;
    height: auto;
}

.second-hero-section > img {
    width: 50vw;
    height: auto;
}

.second-hero-section > div > div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.recipe-page-h1 {
    font-family: var(--body-font);
    font-size: 48px;
    font-weight: bold;
}

.recipe-page-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 24px 30px; */
    padding-top: 30px;
    gap: var(--gap-med)
}

.recipe-page-title {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.recipe-page-hero-div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-med);
}

.recipe-page-ingredients-section {
    display: flex;
    flex-direction: column;
}

.ingredients-div {
    display: flex;
    flex-direction: column;
}

.ingredients-list > ul {
    margin-left: var(--padding-med);
}

.ingredients-list > ul > li {
    padding: 2px 0;
}

.ingredients-list {
    gap: var(--gap-small);
}

.ninety-percent-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid #000;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.video-tip-div {
    padding: var(--padding-med);
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    background-color: var(--dark-green);
    border-radius: var(--border-radius);
    color: var(--off-white);
}

.video-tip-div > p {
    color: var(--lighter-gray);
}

.step-title {
    font-family: var(--body-font);
    font-size: 32px;
    font-weight: 400;
}

.step-details{
    display: flex;
    gap: var(--gap-small);
    flex-direction: column;
}

.steps {
    gap: var(--gap-med);
}

.step-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.kitchen-tool-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.all-recipes-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-med);
    align-items: center;
}

.all-recipes-section > .recipe-card {
    flex-grow: 1;
}


.all-recipes-wrapper {
    width: 90%;
    padding-top: 60px;
    gap: var(--gap-med);
    padding-bottom: var(--padding-large);
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-med);
}

.center-content {
    align-items: center;
    display: flex;
    border-top: 1px solid #000;
    flex-direction: column;
}

.fill {
    height: 80vh;
    padding: var(--padding-xl);
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    align-items: center;
    text-align: center;
}

.no-results-div{
    height: 80vh;
    padding: var(--padding-xl);
    padding-top: var(--padding-med);
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap-med);
    align-items: start;
    text-align: start;
}

.div-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap-small);
}

.icon-btn {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius);
    background-color: var(--mustard);
}

.icon-btn:hover > svg path {
    stroke: var(--mustard);
}

.icon-btn:hover {
    background-color: var(--dark-green);
}

.icon-btn:active > svg path {
    stroke: var(--off-white);
}

.icon-btn:active {
    background-color: var(--dark-gray);
}

.filter {
    display: flex;
    flex-direction: row;
    padding: 8px 8px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: var(--dark-green);
    border-radius: var(--border-radius);
    color: var(--off-white);
}

.filter:hover > svg path {
    stroke: var(--mustard);
}


.filter:active > svg path {
    color: var(--off-white);
}

.filters-active-search {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 40vw;
}

.search-bar > button {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1px solid var(--light-gray);
    border-left: 0;
    box-shadow: none;
    width: min-content;
}

#bottom-button-section-header {
    display: none;
}

.mobile-menu {
    display: none;
}

.logo > li {
    list-style: none;
}

.filters-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 8px;
}

.filters-modal {
    display: none;
    position: fixed;
    background: var(--off-white);
    width: 600px;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding-large) var(--padding-xl);
    gap: var(--gap-med);
    border-radius: var(--border-radius);
    align-items: center;
    flex: 0 0 auto;
}

.list-of-filters {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: var(--gap-small);
}

.list-of-filters > li,label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
}

#search:focus {
    border: 1px solid var(--mustard);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#search:active {
    border: 1px solid var(--mustard);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}


#logomark-yellow {
    fill: var(--mustard);
}

#logo-white {
    fill: var(--off-white);
}

#search {
    padding: var(--padding-small);
    font-size: 18px;
    font-family: var(--body-font);
    border-radius: 8px;
    flex-grow: 1;
    border: 0;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--light-gray);
    border-right: 0;
    background-color: #fff;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}



/* weird breakdown for the cards  */


@media (max-width: 958px) {
    .recipe-card {
        width: 350px;
    }
}








/* TABLET */

@media (max-width: 769px) {
    

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--body-font);
}

h1 {
    font-size: 72px;
    font-family: var(--heading-font);
}

h2 {
    font-size: 48px;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

form > button {
    width: 60px;
}

.subheading {
    font-size: 24px;
    line-height: 1.5rem;
    font-weight: 300;
}

.hero-text {
    font-size: 72px;
    line-height: 5rem;
}

.recipe-card {
    padding: var(--padding-small);
    background-color: var(--off-white-100);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap-med);
    border: 1px solid var(--light-gray);
    width: 50vw;
    height: auto;
    /* flex: 0 0 auto; */
}

.div-carousel {
    gap: var(--gap-small);
}

.second-hero-section {
    flex-direction: column;
    gap: var(--gap-med);
}

.second-hero-section > div {
    width: 100%;
}

.second-hero-section > img {
    width: 90vw;
    height: 400px;
}

.section-header {
    flex-direction: column;
    align-items: start;
}

.second-hero-section-div > a,button {
    width: 100%;
}

.section-header {
    gap: 0;
}

.search-bar {
    width: 80%;
}

.mobile-menu {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: var(--gap-med);
    align-items: start;
}

.mobile-menu > div.div-row {
    justify-content: space-between;
    width: 100%;
}

.hero-section > div  {
    padding-left: 60px;
    padding-right: 60px;
}

.horizontal-nav-menu{
    display: none;
}

.overlay-nav-menu {
    position: fixed;
    background: var(--off-white);
    width: 100%;
    height: 100%;
    top: -100%; /* Start hidden above the viewport */
    left: 0;
    transition: top 0.4s ease-in-out; /* Smooth slide-down transition */
    z-index: 1000; /* Ensure it’s on top of other content */
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* List styles */
.overlay-nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--rhythm);
    height: 100%; /* Ensure the list takes full height */
}

.return {
    color: var(--light-gray);
    font-family: var(--body-font);
    text-transform: lowercase;
    font-size: 1rem;
    margin-block-start: 1.5rem;
}

/* List item styles */
.overlay-nav-ul li {
    font-size: 2rem;
    text-align: center;
    font-style: var(--body-font);
}

/* Show the overlay when the checkbox is checked */
#toggle-checkbox:checked + .overlay-nav-menu {
    top: 0; /* Slide into view */
}

.logo > li {
    list-style: none;
}

.recipe-page-hero-div {
    width: 100%;
}

.ninety-percent-wrapper {
    width: 90%;
}

.filter {
    width: fit-content;

}

footer {
    flex-direction: column;
    align-items: start;
}

footer > svg {
    order: 3;
    width: 90%;
}

footer > nav > ul {
    padding: 0;
}

footer > p {
    order: 2;
}

#top-button-section-header {
    display: none;
}

#bottom-button-section-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}



}


/* PHONE */

@media (max-width: 532px) {

    h1, h2, h3, h4 {
        font-family: var(--heading-font);
    }
    
    p {
        font-family: var(--body-font);
    }
    
    
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 52px;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .subheading {
        font-size: 32px;
        line-height: 2.5rem;
    }
    
    .hero-text {
        font-size: 72px;
        line-height: 5rem;
    }

    .recipe-card {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: start;
    }

    footer > svg {
        order: 2;
        width: 90%;
    }
    
    footer > nav > ul {
        flex-direction: column;

    }

    .section-carousel {
        padding: var(--gap-large) var(--padding-med);
    }

    form > button {
        width: 60px;
    }

    .recipe-page-h1 {
        font-size: 42px;
        line-height: 3rem;
    }

    .recipe-page-title > .subheading {
        font-size: 30px;
        line-height: 2.5rem;
    } 

    .recipe-page-hero {
        gap: var(--gap-small);
    }

    .recipe-page-hero {
        gap: var(--gap-med);
    }

    .recipe-page-hero-div:first-child {
        order: 2;
    }

    .step-title {
        line-height: 2rem;
        font-size: 24px;
        font-weight: 400;
    }

    .steps {
        gap: var(--gap-small);
    }

    .step-details {
        gap: 4px;
    }

    .step-section {
        gap: var(--gap-xl);
    }

    .recipe-page-ingredients-section, .ingredients-div {
        gap: var(--gap-med);
    }

    .ingredients-list:first-child {
        order: 2;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar > button {
        display: none;
    }

    #search {
        border-right: 1px solid;
        border-radius: var(--border-radius);
    }

    #wrap {
        flex-wrap: wrap;
    }
}